In [362]:
#Booleans chapter, example 1
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [363]:
#Booleans chapter, example 2
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [364]:
#Booleans chapter, Values and Variables example 1
print(bool("Hello"))
print(bool(15))

True
True

In [365]:
#Booleans chapter, Values and Variables example 2
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [366]:
#Booleans chapter, Most Values are True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [367]:
#Booleans chapter, Some Values are False example 1
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [368]:
#Booleans chapter, Some Values are False example 2
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [369]:
#Booleans chapter, Functions can Return a Boolean example 1
def myFunction() :
  return True

print(myFunction())

True

In [370]:
#Booleans chapter, Functions can Return a Boolean example 2
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [371]:
#Booleans chapter, Functions can Return a Boolean example 2
x = 200
print(isinstance(x, int))

True

In [372]:
#Operators chapter, example 1
print(10 + 5)

15

In [373]:
#Operators chapter, Operator Precedence example 1
print((6 + 3) - (6 + 3))

0

In [374]:
#Operators chapter, Operator Precedence example 2
print(100 + 5 * 3)

115

In [375]:
#Operators chapter, Operator Precedence example 3
print(5 + 4 - 7 + 3)

5

In [376]:
#Lists chapter, example 1
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [377]:
#Lists chapter, Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [378]:
#Lists chapter, List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [379]:
#Lists chapter, List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [380]:
#Lists chapter, type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [381]:
#Lists chapter, The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [382]:
#Lists chapter, Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [383]:
#Lists chapter, Access Items Negative Indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [384]:
#Lists chapter, Access Items Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [385]:
#Lists chapter, Access Items Range of Indexes example 2, 3, 4
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [386]:
#Lists chapter, Access Items Range of Indexes example 5
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [387]:
#Lists chapter, Change List Items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [388]:
#Lists chapter, Change a Range of Item Values example 1
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [389]:
#Lists chapter, Change a Range of Item Values example 2
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [390]:
#Lists chapter, Change a Range of Item Values example 3
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [391]:
#Lists chapter, Change a Range of Item Values example 4
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [392]:
#Lists chapter, Add List Items: Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [393]:
#Lists chapter, Add List Items: Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [394]:
#Lists chapter, Add List Items: Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [395]:
#Lists chapter, Add List Items: Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [396]:
#Lists chapter, Remove List Items: Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [397]:
#Lists chapter, Remove List Items: Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [398]:
#Lists chapter, Remove List Items: del
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [399]:
#Lists chapter, Remove List Items: Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [400]:
#Lists chapter, Loop Lists: Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [401]:
#Lists chapter, Loop Lists: Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [402]:
#Lists chapter, Loop Lists: Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [403]:
#Lists chapter, Loop Lists: Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [404]:
#Lists chapter, List Comprehension example 1
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [405]:
#Lists chapter, List Comprehension example 2
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [406]:
#Lists chapter, List Comprehension: Condition example 1
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [407]:
#Lists chapter, List Comprehension: Condition example 2
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [408]:
#Lists chapter, List Comprehension: Condition example 3
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [409]:
#Lists chapter, List Comprehension: Condition example 4
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [410]:
#Lists chapter, List Comprehension: Condition example 5
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [411]:
#Lists chapter, Sort Lists: Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [412]:
#Lists chapter, Sort Lists: Numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [413]:
#Lists chapter, Sort Lists: Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

In [414]:
#Lists chapter, Sort Lists: Customize Sort Function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [415]:
#Lists chapter, Sort Lists: Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']

In [416]:
#Lists chapter, Sort Lists: Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [417]:
#Lists chapter, Copy Lists: Copy a List
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [418]:
#Lists chapter, Copy Lists: list() method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [419]:
#Lists chapter, Copy Lists: slice Operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [420]:
#Lists chapter, Join Lists: Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [421]:
#Lists chapter, Join Lists: Join Two Lists example 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [422]:
#Lists chapter, Join Lists: Join Two Lists example 3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [423]:
#Tuples chapter, example
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [424]:
#Tuples chapter, Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [425]:
#Tuples chapter, Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [426]:
#Tuples chapter, Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [427]:
#Tuples chapter, type()
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [428]:
#Tuples chapter, The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [429]:
#Tuples chapter, Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

banana
cherry

In [430]:
#Tuples chapter, Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [431]:
#Tuples chapter, Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [432]:
#Tuples chapter, Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [433]:
#Tuples chapter, Update Tuples: Add Items
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [434]:
#Tuples chapter, Update Tuples: Add Items example 2
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [435]:
#Tuples chapter, Update Tuples: Add Items example 3
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [436]:
#Tuples chapter, Update Tuples: Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [437]:
#Tuples chapter, Unpack Tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [438]:
#Tuples chapter, Unpack Tuples: Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [439]:
#Tuples chapter, Loop Tuples
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [440]:
#Tuples chapter, Loop Tuples: for
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [441]:
#Tuples chapter, Loop Tuples: while
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [442]:
#Tuples chapter, Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [443]:
#Tuples chapter, Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [444]:
#Sets chapter
thisset = {"apple", "banana", "cherry"}
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

print(" ")

myset = {"apple", "banana", "cherry"}
print(type(myset))

print(" ")

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

{True, 2, 'apple', 'banana', 'cherry'}

3

<class 'set'>

{'cherry', 'banana', 'apple'}

In [445]:
#Sets chapter, Access Set Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

print(" ")

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

cherry
banana
apple

True
False

In [446]:
#Sets chapter, Add Set Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

{'mango', 'apple', 'papaya', 'pineapple', 'banana', 'cherry'}

{'kiwi', 'cherry', 'apple', 'orange', 'banana'}

In [447]:
#Sets chapter, Remove Set Items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

{'cherry', 'apple'}

{'cherry', 'apple'}

cherry
{'banana', 'apple'}

set()

NameError: name 'thisset' is not defined

In [ ]:
#Sets chapter, Loop Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [60]:
#Sets chapter, Join Sets
#Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set3 = set1 | set2
print(set3)

set3 = set1.union(set2, {"John", "Elena"}, {"apple", "bananas", "cherry"})
print(set3)

myset = set1 | set2 | {"John", "Elena"} | {"apple", "bananas", "cherry"}
print(myset)

x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

print(" ")

#Update
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

print(" ")

#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

set3 = set1 & set2
print(set3)

set1.intersection_update(set2)
print(set1)

set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

print(" ")

#Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

set3 = set1 - set2
print(set3)

set1.difference_update(set2)
print(set1)

print(" ")

#Symmetric Differences
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

set3 = set1 ^ set2
print(set3)

set1.symmetric_difference_update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}
{'b', 1, 2, 3, 'c', 'a'}
{'b', 1, 2, 3, 'Elena', 'a', 'cherry', 'apple', 'c', 'bananas', 'John'}
{'b', 1, 2, 3, 'Elena', 'a', 'cherry', 'apple', 'c', 'bananas', 'John'}
{'b', 1, 2, 3, 'c', 'a'}
{'b', 1, 2, 3, 'c', 'a'}
{'apple'}
{'apple'}
{'apple'}
{False, 1, 'apple'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry', 'microsoft', 'google'}
{'banana', 'cherry', 'microsoft', 'google'}
{'banana', 'cherry', 'microsoft', 'google'}

In [63]:
#Dictionaries chapter
# Dictionary Example
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(thisdict)

print(" ")

#Dictionary Items
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(thisdict["brand"])

print(" ")

#Duplicate Values
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964, 
    "year": 2020
    }
print(thisdict)

print(" ")

#Dictionary Length
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(len(thisdict))

print(" ")

#Dictionary Items - Data Types
thisdict = {
    "brand": "Ford", 
    "electric": False, 
    "year": 1964, 
    "colors": ["red", "white", "blue"]
    }

print(" ")

#Data Type of Dictionary
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(type(thisdict))

print(" ")

#The dict() Constructor
thisdict = dict(name="John", age=36, country="Norway")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [151]:
#Dictionaries chapter, Access Dictionary Items
#Accessing Items
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
x = thisdict["model"]
x = thisdict.get("model")

print(" ")

#Get Keys
car = {
    "brand": "Ford", 
    "model": "Mustang",
    "year": 1964
    }
x = car.keys()
print(x)  # before the change
car["color"] = "white"
print(x)  # after the change

print(" ")

#Get Values
x = thisdict.values()
print(x)  # before the change
car["year"] = 2020
print(x)  # after the change
x = car.values()
print(x)  # before the change
car["color"] = "red"
print(x)  # after the change

print(" ")

#Get Items
x = thisdict.items()
print(x)  # before the change
car["year"] = 2020
print(x)  # after the change
x = car.items()
print(x)  # before the change
car["color"] = "red"
print(x)  # after the change

print(" ")

#Check if Key Exists
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020, 'white'])
dict_values(['Ford', 'Mustang', 2020, 'red'])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])

Yes, 'model' is one of the keys in the thisdict dictionary

In [88]:
#Dictionaries chapter, Change Dictionary Items
#Change values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

print(" ")

#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [91]:
#Dictionaries chapter, Add Dictionary Items
#Adding Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

print(" ")

#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [93]:
#Dictionaries chapter, Remove Dictionary Items
#pop()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.pop("model")
print(thisdict)

print(" ")

#popitem()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.popitem()
print(thisdict)

print(" ")

#del
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
del thisdict["model"]
print(thisdict)

print(" ")

#del error
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
del thisdict
#print(thisdict)  # This will cause an error because "thisdict" no longer exists.

#clear()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{}

In [96]:
#Dictionaries chapter, Loop Dictionaries

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
    print(x)

print(" ")

for x in thisdict:
    print(thisdict[x])

print(" ")

for x in thisdict.values():
    print(x)

print(" ")

for x in thisdict.keys():
    print(x)

print(" ")

for x, y in thisdict.items():
    print(x, y)

brand
model
year

Ford
Mustang
1964

Ford
Mustang
1964

brand
model
year

brand Ford
model Mustang
year 1964

In [97]:
#Dictionaries chapter, Copy Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

print(" ")

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Dictionaries chapter, Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

print(" ")

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

print(" ")

#Access Items in Nested Dictionaries
print(myfamily["child2"]["name"])

print(" ")

#Loop Through Nested Dictionaries
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

In [99]:
#If ... Else chapter
#if
a = 33
b = 200
if b > a:
    print("b is greater than a")
    
print(" ")

#elif
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

print(" ")

#else
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

print(" ")

#Short-hand if
if a > b: print("a is greater than b")

print(" ")

#Short-hand if...else
a = 2
b = 330
print("A") if a > b else print("B")

print(" ")

#one line
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

print(" ")

#and
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

print(" ")

#or
if a > b or a > c:
    print("At least one of the conditions is True")

print(" ")

#not
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

print(" ")

#Nested if
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

#The pass statement
a = 33
b = 200
if b > a:
    pass

b is greater than a

a and b are equal

a is greater than b

a is greater than b

B

=

Both conditions are True

At least one of the conditions is True

a is NOT greater than b

Above ten,
and also above 20!

In [100]:
#While Loop chapter
#while
i = 1
while i < 6:
    print(i)
    i += 1

print(" ")

#break
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

print(" ")

#continue
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

print(" ")

#else
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5

1
2
3

1
2
4
5
6

1
2
3
4
5
i is no longer less than 6

In [103]:
#For Loops chapter
#for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

print(" ")

#Looping Through a String
for x in "banana":
    print(x)

print(" ")

#break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

print(" ")

for x in fruits:
    if x == "banana":
        break
    print(x)

print(" ")

#continue
for x in fruits:
    if x == "banana":
        continue
    print(x)

print(" ")

#range()
for x in range(6):
    print(x)

print(" ")


for x in range(2, 6):
    print(x)

print(" ")


for x in range(2, 30, 3):
    print(x)

print(" ")

#else in a for loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

print(" ")


for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

print(" ")

#Nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

#Pass
for x in [0, 1, 2]:
    pass

apple
banana
cherry

b
a
n
a
n
a

apple
banana

apple

apple
cherry

0
1
2
3
4
5

2
3
4
5

2
5
8
11
14
17
20
23
26
29

0
1
2
3
4
5
Finally finished!

0
1
2

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry